.chat__container {
    flex: 1;
    height: 100vh;
    background-color: lightgray;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
}
.chat__container .chat__banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    background-color: #e9e8e6;
}
.chat__container .chat__banner .chat__bannerInfo {
    align-items: center;
    display: flex;
}
.chat__container .chat__banner .chat__bannerInfo .chat__bannerAvatar {
    margin-left: 10px;
    margin-right: 25px;
}
.chat__container .chat__banner .chat__bannerInfo .chat__info {
    display: flex;
    flex-direction: column;
}
.chat__container .chat__banner .chat__bannerInfo .chat__info p {
    margin: 0;
}
.chat__container .chat__banner .chat__bannerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.chat__container .chat__banner .chat__bannerIcon .MuiSvgIcon-root {
    cursor: pointer;
}
.chat__container .chat__banner .chat__bannerIcon .chat__bannerSearch {
    max-width: 0px;
    width: 200px;
    opacity: 0;
    transition: all 0.5s ease;
    border-radius: 12px;
    border: none;
    padding: 10px;
}
.chat__container .chat__banner .chat__bannerIcon .show {
    max-width: 200px;
    opacity: 1;
}
.chat__container .chat__banner .chat__bannerIcon * {
    margin-right: 10px;
}
.chat__container .chat__content {
    height: 84%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
}
.chat__container .chat__content .emoji-picker-react {
    position: fixed;
    bottom: 60px;
    z-index: 1000;
}
.chat__container .chat__content .chat__addFileModal {
    position: fixed;
    top: 45%;
    left: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    z-index: 1000;
}
.chat__container .chat__sendMessage {
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e8e6;
}
.chat__container .chat__sendMessage .chat__sendMessageEmoji {
    margin: 0 10px;
}
.chat__container .chat__sendMessage .chat__sendMessageEmoji:hover {
    cursor: pointer;
}
.chat__container .chat__sendMessage .chat__sendMessageEmoji * {
    width: 40px;
}
.chat__container .chat__sendMessage .chat__sendMessageContent {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
}
.chat__container .chat__sendMessage .chat__sendMessageContent input {
    width: 95%;
    padding: 10px;
    border-radius: 12px;
    border: none;
}
.chat__container .chat__sendMessage .chat__sendMessageContent button {
    display: none;
}
.chat__container .chat__sendMessage .chat__sendMessageMic {
    margin: 0 10px;
    width: 40px;
    cursor: pointer;
}
.notShow {
    display: none !important;
}